[Unit]
Description=Actions Per Minute (APM) Tracker
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/local/bin/apm_tracker -d
Restart=on-failure
RestartSec=5
User=root

[Install]
WantedBy=multi-user.target
